@import url('https://fonts.cdnfonts.com/css/nrt-reg');
@import url('https://fonts.cdnfonts.com/css/deliciousoutline');
@import url("styles/badge-selector.css");
@import url("styles/ready-button.css");
@import url("styles/header.css");
@import url("styles/modal.css");
@import url("styles/board.css");
@import url("styles/ships.css");
@import url("styles/chat.css");


:root {
    --squareSize: 3rem;
    --boardLabelFontSize: 2pc;
}

body {
    background-color: #202020;
    margin: 0px auto;
    overflow-y: hidden;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

#app-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: auto;
}

#content {
    display: flex;
    align-items: flex-start;
    height: (100dvh - 92px);
    width: min-content;
}