*{
    font-weight: 650;
    font-size: 6.5vw;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-image: linear-gradient(90deg,#111, #444,#aaa);

}
#wordsbox{
    padding-top: 5vh;
    padding-left: 10vw;
    z-index: 1;
}
.line{
    display: flex;
}
.word{
    cursor: pointer;
    text-transform: uppercase;
    color:white;
}
.char{
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    min-width: 8.68px;
}
#wordsbox:has(.hoverfx:hover) .hoverfx:not(.hoverfx:hover){
    opacity: 0.3;
}
  
  