body {
    background-image: url("assets/trollface-funny.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

#wordsbox {
    padding-top: 5vh;
    padding-left: 10vw;
    z-index: 1;
}

span {
    font-weight: 650;
    font-size: 6.5vw;
    color: white;
    text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000;
}

.line {
    display: flex;
    flex-direction: row;
}

.line .char {
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-weight: 650;
    font-size: 6.5vw;
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
    text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000;
}

#wordsbox:has(.hoverfx:hover) .hoverfx:not(.hoverfx:hover) {
    opacity: 0.3;
}