@import url('https://fonts.cdnfonts.com/css/share-techmono-2');
@import url(styles/typewriter.css);

:root {
    --bgUrl: url("assets/backgrounds/bg1.png");
}

body {
    margin: 0 0;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    align-items: center;
    font-family: 'Share-TechMono', sans-serif;

    overflow-x: hidden;
    overflow-y: auto;
}

div.background {
    position: absolute;
    display: block;
    width: 100dvw;
    height: 100dvh;
    background-image: var(--bgUrl);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100;
    filter: blur(16px);
}

div.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;

}

div.scenario>h3 {
    margin-left: 0;
    margin-top: 0;
    font-size: 2pc;
    text-shadow: 1px 1px 2px #000000;
    -webkit-text-stroke: 0.5px #ffffff;
}

div.scenario {
    width: 60%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-image: var(--bgUrl);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover !important;
    justify-content: space-between;
}

div.scenario>span#scene {
    height: 25%;
    width: 100%;
    background-color: #ffffff50;
    font-size: 1.5pc;
}

div.scenario>span#scene>p {
    font-size: 1.5pc;
    margin: 0 auto;
    padding: 5px 5px;
    max-width: 100%;
}


div.choices {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

div.choices>div {
    height: 10dvh;
    width: 60dvw;
    border: 3px solid black;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    font-size: 2em;
    transition: 0.3s;
}

div.choices>div:hover {
    cursor: pointer;
    scale: 1.05;
    transition: 0.3s;
}

@media only screen and (max-width: 499px) {
    body {
        margin: 0 0;
        display: flex;
        flex-direction: column;
        height: 100dvh;
        align-items: center;
        font-family: 'Share-TechMono', sans-serif;

        overflow-x: hidden;
        overflow-y: auto;
    }

    div.background {
        position: absolute;
        display: block;
        width: 100dvw;
        height: 100dvh;
        background-image: var(--bgUrl);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -100;
        filter: blur(16px);
    }

    div.scenario {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-image: var(--bgUrl);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover !important;
        justify-content: space-between;
    }

    div.background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: var(--bgUrl);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -100;
        filter: blur(8px);
    }

    div.content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    div.scenario>h3 {
        margin-left: 0;
        margin-top: 0;
        font-size: 2pc;
        text-shadow: 1px 1px 2px #000000;
        -webkit-text-stroke: 0.5px #ffffff;
    }


    div.scenario>span#scene {
        height: 27%;
        width: 100%;
        background-color: #ffffff50;
        font-size: 1pc;
    }

    div.choices {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.25rem;
    }

    div.choices>div {
        border: 3px solid black;
        background-color: #f1f1f1;
        display: flex;
        align-items: center;
        transition: 0.3s;
        font-size: 1pc;
        width: 95vw;
    }

    div.choices>div:active {
        background-color: cyan;
        transition: 0.3s;
    }
}