#close-album {
  background-color: #343945;
  z-index: 11;
  width: 100dvw;
  display: flex;
  color: white;
  font-size: 1pc;
  cursor: pointer;
}

#album {
  overflow-x: auto;
  white-space: nowrap;
  background-color: #586174;
  z-index: 10;
  display: block;
  user-select: none;
}

::-webkit-scrollbar {
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

#album .album-img {
  display: inline-block;
  width: auto;
  height: 80px;
  margin-right: .5rem;
  object-fit: contain;
  transition: 0.3s all;
}

#album:has(.album-img:hover) .album-img:not(.album-img:hover) {
  opacity: 0.3;
}