body {
    margin: 0 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    width: 100dvw;
}

header {
    background-color: #343945;
}

div.content {
    background-color: #474e5d;

}

footer {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #343945;
}

footer p {
    /*font size depends on media*/
    color: white;
    font-family: "DeliciousOutline"
}

select {
    background-color: #f5f5f5;
    border: none;
}

optgroup[label="NSFW"] {
    color: #dc3545;
    font-weight: bold;
}

span#title {
    /*font size depends on media*/
    user-select: none;
    cursor: default;
    color: white;
    font-weight: bold;
    font-family: "DeliciousOutline";
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    color: #fff;
    background-color: #007bff;
}