@media only screen and (max-device-width: 926px) {
  body {
    margin: 0 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    width: 100dvw;
  }

  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #343945;
    width: 100%;
    gap: .25rem;
    padding: 1rem 0;
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span#title {
    user-select: none;
    cursor: default;
    font-size: 1pc;
    color: white;
    font-weight: bold;
    font-family: "DeliciousOutline";
  }

  button.send {
    display: none;
  }

  select {
    padding: .25rem;
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
    width: 80%;
  }

  select:focus {
    outline: none;
    box-shadow: 0px 0px 3px #007bff;
  }

  optgroup[label="NSFW"] {
    color: #dc3545;
    font-weight: bold;
  }

  div.content {
    display: flex;
    background-color: #474e5d;
  }

  div.content > img.pic {
    min-height: 40rem;
    width: 100%;
    object-fit: contain;
  }

  footer {
    background-color: #343945;
    padding: 20px;
    text-align: center;
    bottom: 0;
  }

  footer > p {
    color: white;
    font-family: "DeliciousOutline";
  }

  .desktop-only {
    display: none;
  }
}
