@media only screen and (min-width: 927px) and (orientation: landscape) {

  body::-webkit-scrollbar {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  span#title {
    font-size: 2pc;
  }

  button {
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0062cc;
  }

  select {
    padding: 10px;
    border-radius: 5px;
      cursor: pointer;
  }

  select:focus {
    outline: none;
    box-shadow: 0px 0px 3px #007bff;
  }

  div.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    user-select: none;
  }

  div.content img.pic {
    height: 80vh;
    width: auto;
    object-fit: contain;
  }

  footer p {
    font-size: large;
  }

  .mobile-only {
    display: none;
  }
}