@media only screen and (max-device-width: 926px) {

  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: .25rem;
    padding: 1rem 0;
  }

  span#title {
    font-size: 1pc;
  }

  button {
    border-radius: 5px;
    padding: 0.25rem;
  }

  button.send {
    display: none;
  }

  select {
    padding: .25rem;
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
    width: 80%;
  }

  div.content {
    display: flex;
    min-height: 82vh;
  }

  div.content img.pic {
    height: 82vh;
    width: 100%;
    object-fit: contain;
  }

  footer div {
    display: flex;
    align-items: center;
  }

  footer p {
    font-size: smaller;
  }

  .desktop-only {
    display: none;
  }
}