@media only screen and (min-width: 927px) and (orientation: landscape) {
  body {
    margin: 0 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343945;
    padding: 20px;
  }

  .options {
    display: flex;
    align-items: center;
  }

  span#title {
    user-select: none;
    cursor: default;
    font-size: 2pc;
    color: white;
    font-weight: bold;
    font-family: "DeliciousOutline";
  }

  button.send {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #007bff;
    margin-right: 10px;
    cursor: pointer;
  }

  button.send:hover {
    background-color: #0062cc;
  }

  select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
    cursor: pointer;
  }

  select:focus {
    outline: none;
    box-shadow: 0px 0px 3px #007bff;
  }

  optgroup[label="NSFW"] {
    color: #dc3545;
    font-weight: bold;
  }

  div.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #474e5d;
  }

  div.content > img.pic {
    height: 86vh;
    width: auto;
    object-fit: contain;
  }

  footer {
    background-color: #343945;
    padding: 20px;
    text-align: center;
  }
}
