body{
    background-color: #202020;
    margin: 0px auto;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}
#header{
    width: 99.5vw;
    height: 50px;
    z-index: 10;
    display: table;
    background-color: rgb(60, 60, 60);
    border: 3px outset white;
    margin: 0 auto;
}.headcell{display: table-cell; vertical-align: middle;}
#urname{
    color: white;
    font-size: 150%;
    cursor: pointer;
    font-family: system-ui, sans-serif;
}
.unselectable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cell{
    color: #202020;
    position: relative;
    display: inline-block;
    min-height: 205px; 
    min-width: 140px;
    
}
#board{
    font-family: sans-serif;
    font-size: 1100%;
    padding-top: 5vh;
    padding-left: 35vw;
    cursor:pointer;
    
}
#vline1{
    position: absolute;
    border-left: 3px solid white;
    height: 75vh;
    left:45vw;
}
#vline2{
    position: absolute;
    border-left: 3px solid white;
    height: 75vh;
    left:58.5vw;
}
#hline1{
    position: absolute;
    border-bottom: 3px solid white;
    width: 62vh;
}
#hline2{
    position: absolute;
    border-bottom: 3px solid white;
    width: 62vh;
    
}
