@import url('https://fonts.cdnfonts.com/css/nrt-reg');
@import url('https://fonts.cdnfonts.com/css/deliciousoutline');
@import url("./styles/board.css");
@import url("./styles/header.css");
@import url("./styles/modal.css");
@import url("./styles/badge-selector.css");

body{
    margin: 0px auto;
    color: white;
    overflow-y: hidden;
}

#content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100dvh - 92px);
    background-color: #202020;

}

.unselectable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}