$types: (
  'normal',
  'fire',
  'water',
  'grass',
  'electric',
  'ice',
  'fighting',
  'poison',
  'ground',
  'flying',
  'psychic',
  'bug',
  'rock',
  'ghost',
  'dark',
  'dragon',
  'steel',
  'fairy',
  'unknown'
);
$typesColors: (
  '#A8A878',
  '#F08030',
  '#6890F0',
  '#78C850',
  '#F8D030',
  '#98D8D8',
  '#C03028',
  '#A040A0',
  '#E0C068',
  '#A890F0',
  '#F85888',
  '#A8B820',
  '#B8A038',
  '#705898',
  '#705848',
  '#7038F8',
  '#B8B8D0',
  '#EE99AC',
  '#68A090'
);

/* span.type-fire */
@each $type, $color in zip($types, $typesColors) {
  span.type-#{$type} {
    text-transform: capitalize;
    background-color: unquote($color) !important;
    padding: .1rem;
    width: 4.5rem;
    height: 1.75rem;
    @apply text-white rounded-lg flex items-center justify-center font-bold text-sm;
  }
}

$categories: (
  'status',
  'physical',
  'special'
);
$categoriesColors: (
  '#A8A878',
  '#F08030',
  '#6890F0'
);
$borders: (
  '#362E2C',
  '#D1441D',
  '#041A71'
);


@each $type, $color, $border in zip($categories, $categoriesColors, $borders) {
  span.category-#{$type} {
    padding: .1rem;
    width: 4.5rem;
    height: 1.75rem;
    background-size: 4.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/#{$type}.svg');
    background-color: unquote($color) !important;
    //border: 3px solid unquote($border);
    @apply flex items-center justify-center;
    @apply rounded-lg;
  }
}

span.new-type {
  @apply relative;

  &::after {
    content: 'New!';
    transform: translate(50%, -50%);
    @apply absolute top-0 right-0 bg-green-500 text-white text-xs font-bold py-0.5 px-1 rounded-full z-10;
  }
}