@use 'types';
@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin base-scrollbar {
  &::-webkit-scrollbar-thumb {
    background-color: currentColor;
    max-height: 4rem;
    border-radius: 16px;
    width: .35rem;
  }

  &::-webkit-scrollbar {
    background-color: transparent;
    width: .35rem;
  }

  &::-webkit-scrollbar-track {
    border-radius: 16px;
  }
}

[hidden] {
  display: none !important;
}


body {
  margin: 0;
  // font-family: "Montserrat", sans-serif;
}

@layer utilities {
  .old {
    @apply text-red-500 line-through;
  }

  .new {
    @apply text-green-500 font-semibold;
  }

  .obst {
    @apply relative;

    &::before {
      content: '';
      top: 50%;
      transform: rotate(10deg);
      @apply absolute border-2 border-red-500 right-0 left-0;
    }
  }

  .new-pop {
    @apply relative;

    &::before {
      content: 'New!';
      top: -1.5rem;
      left: -0.7rem;
      @apply absolute text-green-500 font-semibold;
    }
  }
}

@layer components {

  .sb-base {
    @include base-scrollbar()
  }

}