---
import PageSearchBar from "../components/common/PageSearchBar";
import MovesList from "../components/ui/move/MovesList";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Moves">
  <div class="flex flex-col h-[calc(100vh-4rem)] min-h-0 overflow-y-auto pt-2">
    <div
      class="sticky top-0 z-40 mx-2 pb-2"
    >
      <PageSearchBar client:only />
    </div>
    <MovesList client:only />
  </div>
</Layout>
