@media screen and (max-device-width: 900px) {

    div.background {
        position: absolute;
        display: block;
        width: 100dvw;
        height: 100dvh;
        background-image: var(--bgUrl);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -100;
        filter: blur(16px);
    }

    div.scenario {
        width: 100%;
        display: flex;
        height: 50rem;
        flex-direction: column;
        background-image: var(--bgUrl);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover !important;
        justify-content: space-between;
        margin-left: 1rem;
        margin-right: 1rem;
    }


    div.content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    div.scenario>h3 {
        margin-left: 0;
        margin-top: 0;
        font-size: 2pc;
        text-shadow: 1px 1px 2px #000000;
        -webkit-text-stroke: 0.5px #ffffff;
    }


    div.scenario>span#scene {
        height: 27%;
        width: 100%;
        background-color: #50505050;
        color: white;
        font-size: 1pc;
    }

    div.choices {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.25rem;
    }

    div.choices>div {
        border: 3px solid black;
        background-color: #f1f1f1;
        display: flex;
        align-items: center;
        transition: 0.3s;
        font-size: 1pc;
        width: 95vw;
    }

    div.choices>div:active {
        background-color: cyan;
        transition: 0.3s;
    }
}