body {
    margin: 0 0;
    display: flex;
    flex-direction: column;
    background-color: #515a6b;
}

div.header {
    padding: 1rem 0;
    position: sticky;
    display: flex;
    border-bottom: 3px solid #677187;
    width: 100dvw;
    height: min-content;
    background-color: #474e5d;
    align-items: center;
    justify-content: space-between;
}

div.header>div.options {
    padding-left: 1rem;
}

div.header>button.send {
    padding: 1em 1em;
    font-weight: bold;
    height: min-content;
}


div.content {
    padding-left: 1rem;
    display: flex;
    min-height: 95dvh;
    align-items: flex-start;
}

div.content>img.pic {
    max-height: 50dvw;
    object-fit: contain;
    flex: 0 0;
}


div.footer {
    position: static;
    display: flex;
    border-top: 3px solid #677187;
    width: 100dvw;
    height: 2rem;
    background-color: #474e5d;
    align-items: center;
}