@use "stats";
@use "types";

@use "list-style";
@use "pokemon-list";

@import url("https://fonts.cdnfonts.com/css/montserrat");
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: white;
    #version {
        position: absolute;
        top: 0;
        left: 0;
        color: white;
    }
}
.nav {
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 5px 5px 1px #1d1d1d80;
    gap: 0.5rem;
    padding: 0.25rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.st {
    text-decoration: line-through;
}
.obst {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        right: 0;
        border-top: 3px solid;
        border-color: red;
        transform: rotate(10deg);
    }
}
.red {
    color: red;
}
.green {
    color: green;
}
.bold {
    font-weight: bold;
}
.invis {
    visibility: hidden;
}
.fd-row {
    display: flex;
    flex-direction: row;
}
.fd-column {
    display: flex;
    flex-direction: column;
}
span,
b {
    text-transform: capitalize;
    width: max-content;
}
