body{
    cursor: none;
    background-color: #202020;
    margin: 0px;
}
#background-grid{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        rgba(255,255,255,0.1)9%,
        transparent 9%
    );
    z-index: -1000;
    background-position: 0% 0%;
    background-size: 12vmin 4vmin;
}
.circle{
    position: fixed;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    border: 3px outset white;
    scale: 2;
    font-size:larger;
    z-index: 1;
    background-color: pink;
    text-align:center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: background-color 800ms ease;
    margin: auto;
    padding: 12.5px 12.5px;

}
.cursor-trail{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    position: absolute;
    background: linear-gradient(150deg, #5c0000, #6c0010, #970051, #c200d1, #6510ff, #4a6aff, #75c2ff, #85dcff);    
    left: 0px;
    top: 0px;
    z-index: 100;
    pointer-events: none;
    opacity: 0%;
    transition: opacity 500ms ease;
}
body:hover > .cursor-trail{
    opacity: 100%;
}