header {
    padding: 0.5rem 0;
    position: sticky;
    display: flex;
    width: 100dvw;
    height: min-content;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(146deg, rgba(180, 58, 159, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

header div.select-container {
    margin-left: 2rem;
    position: relative;
}

header div.select-container::before {
    display: inline-block;
    margin-right: 0.5rem;
    font-size: 1.2rem;
    color: #ffd700;
}

header select {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    background-color: #00000000;
    border: none;
    outline: none;
    padding: 0.5rem 2rem 0.5rem 1rem;
}

header select:focus, header select:hover {
    border: 3px solid #e6bd00;
    transition: 0.3s;
    scale: 1.1;
}

header button {
    margin-right: 1em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 0.5rem;
    background-color: #00000000;
}

header button:hover {
    border: 3px solid #e6bd00;
    transition: 0.3s;
    scale: 1.1;
}