@import url(loading-wave.css);
body {
    overflow-x: hidden;
    margin: 0 0;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    align-items: center;
    font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

div.header {
    position: sticky;
    display: flex;
    width: 100dvw;
    height: 2rem;
    align-items: center;
    justify-content: space-between;
    background-color: #494b5b;
    height: min-content;
}

div.content {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    width: 100dvw;
    height: 100dvh;
    background-color: #565869;
}

div.content>div {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: inherit;
    gap: 1pc;
}

div.content-left {
    margin-left: 1rem;
}

md-block.gptmsg {
    font-size: 1pc;
    width: 40rem;
    background-color: hsla(0, 0%, 100%, .05);
    border-radius: 5px;
    color: #fff;
    font-family: inherit;
}

div.footer {
    background-color: rgb(86, 88, 105);
    padding: 2rem 0px;
    position: sticky;
    display: flex;
    width: 100dvw;
    height: min-content;
    align-items: center;
    justify-content: center;
}

div.msgbar {
    display: flex;
    background-color: #494b5b;
    border-radius: 10px;
    width: 50%;
}

div.msgbar>button {
    border-radius: 5px;
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding: 1rem;
}

input#msgforgpt {
    resize: none;
    outline: none;
    border: none;
    font-size: 1pc;
    padding: 1rem 1rem;
    width: 100%;
    border-radius: 5px;
    background-color: inherit;
    color: white;
}