@import url('https://fonts.cdnfonts.com/css/deliciousoutline');

@import url(styles/media-iphone.css);
@import url(styles/redirect-button.css);
@import url(styles/media-desktop.css);

a.projects,a.projects:active{
    font-size: inherit;
    color: inherit;
    text-decoration: underline;
}   
