---
import pkg from "../../package.json";
import tailwindConfig from "../../tailwind.config.mjs";
import { RoutesIterator } from "../models/static/routes";
import Sidebar from "./Sidebar.astro";
import "../styles/styles.scss";
export interface Props {
  title: string;
}

const { title } = Astro.props;
const version = pkg.version;
const themes = tailwindConfig.daisyui.themes as string[];
const theme = themes[0];
const sidebarData = { title, themes, theme, version, routes: RoutesIterator };
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Sidebar data={sidebarData}>
      <slot />
    </Sidebar>
  </body>
</html>

<style lang="scss">
  @import "../styles/styles.scss";
</style>
