---
import pkg from "../../package.json";
import { RoutesIterator } from "../models/static/routes";
import Sidebar from "./Sidebar.astro";
import "../styles/global.css";
export interface Props {
  title: string;
}

const { title } = Astro.props;
const version = pkg.version;
const themes = [
  "dark",
  "light",
 /*  "cupcake",
  "bumblebee",
  "emerald",
  "corporate",
  "synthwave",
  "retro",
  "cyberpunk",
  "valentine",
  "halloween",
  "garden",
  "forest", */
  "aqua",
 /*  "lofi",
  "pastel",
  "fantasy",
  "wireframe",
  "black",
  "luxury",
  "dracula",
  "cmyk",
  "autumn",
  "business",
  "acid",
  "lemonade", */
  "night",
  /* "coffee",
  "winter",
  "dim",
  "nord",
  "sunset", */
];
const theme = themes[0];
const sidebarData = { title, themes, theme, version, routes: RoutesIterator };
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="La doc di CHI?" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Sidebar data={sidebarData}>
      <slot />
    </Sidebar>
  </body>
</html>
