---
import MdSearch from "~icons/material-symbols/search";
---

<div class="relative">
  <div
    id="search-loading"
    hidden
    class="loading loading-spinner loading-md bg-accent absolute top-3 -left-8"
  >
  </div>
  <label class="relative">
    <MdSearch class="absolute !left-2 !z-10 top-[2.5px] text-lg text-accent" />
    <input
      autocomplete="off"
      id="search-input"
      placeholder="Search..."
      class="!pl-8 !pr-16 !border-accent !w-48 !input !rounded-s-none !border-s-0 focus:!outline-0"
      type="text"
    />
    <span
      class="absolute select-none pointer-events-none right-4 top-[2.5px] text-xs !z-10 text-gray-300"
      >CTRL K</span
    >
  </label>
</div>
<!-- CTRL K focus -->
<script>
  const inputElement = document.getElementById(
    "search-input",
  ) as HTMLInputElement;
  window.addEventListener("keydown", (event) => {
    if (event.key === "k" && event.ctrlKey) {
      event.stopImmediatePropagation();
      event.stopPropagation();
      event.preventDefault();
      inputElement.focus();
    }
  });
</script>

<!-- search event -->
<script>
  const DEBOUNCE_DELAY = 500;
import { searchStore } from "../data/store/search.store";
  import { debounce } from "../utils/event.utils.mjs";
  const inputElement = document.getElementById(
    "search-input",
  ) as HTMLInputElement;

  const debouncedDispatchSearchEvent = debounce(function (event: Event) {
    const text = (event.target as HTMLInputElement).value;
    dispatchSearchEvent(text);
  }, DEBOUNCE_DELAY);

  inputElement.addEventListener("input", debouncedDispatchSearchEvent);

  function dispatchSearchEvent(text: string) {
    // solid store
    searchStore.text = text;
  }


</script>
