---
import MdMenu from "~icons/material-symbols/menu";

const { sidebarId, title } = Astro.props;
---

<header class="navbar bg-base-300 shadow-lg sticky top-0 z-50 min-w-0">
  <div class="navbar-start gap-2">
    <label for={sidebarId} class="btn btn-ghost btn-sm" aria-label="Open menu">
      <MdMenu class="text-lg" />
    </label>
    <h1 class="select-none truncate">{title}</h1>
  </div>
</header>
