body {
    margin: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.header {
    position: sticky;
    display: flex;
    border-bottom: 3px solid gold;
    width: 100dvw;
    height: min-content;
    background-color: cornsilk;
    align-items: center;
}

div.header>div.searchbar {
    display: flex;
    padding-left: 1rem;
}

div.header>div.searchbar>* {
    padding: .35rem .75rem;
}

div.content {
    padding-left: 1rem;
    display: flex;
}

div.content>div.pokemon-render {
    flex: 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100dvw;
}

div.pokemon-render>div.render-right {
    height: 50dvh;
    overflow-y: auto;
}

img.pkmn-sprite {
    object-fit: cover;
}

div.pokemon-render>div.render-right>div.move {
    border: 1px solid black;
    height: 2rem;
    width: 12rem;
    display: flex;
    align-items: center;
}

div.footer {
    display: flex;
    border-top: 3px solid gold;
    width: 100dvw;
    height: 2rem;
    background-color: cornsilk;
    align-items: center;

}